.section{
    width: 100%;
    background: linear-gradient(158deg, #BBE8EF -6.48%, #3B95A1 101.82%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}
.section figure{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 230px;
}
.section figure p {
    font-size: 12px;
    color: white;
    font-weight: 500;
}
.section form{
    width: 100%;
    background-color: white;
    border-radius: 30px 30px 0px 0px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
} 
.section form p {
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
}